@import url('https://fonts.googleapis.com/css?family=Roboto');

html,body{ padding: 0px; margin: 0px; width: 100%; height: 100vh; font-family: "Roboto"; color:#333;  }
.divlogin{ 
    background: url(../img/fondo.jpg) no-repeat; 
    background-size: cover; 
    background-position: center center; 
    width: 100%; 
    height: 100vh; 
    display: flex;
    align-content: center;
    align-items: center;    
}
.divlogin .container{ 
    width: 100%;
    text-align: center;
}
.divlogin .container .divcont{
    width: 100%;
    max-width: 300px;
    background: rgba(255,255,255,0.7);
    padding: 20px;
    border-radius: 10px;
    display: inline-block;
}
.divlogin .container .divcont h3{
    margin-top: 0px;
}
.divlogin .container .divcont input{ 
    height: 30px; 
    margin: 0px; 
    border: 0px; 
    outline: none; 
    padding: 10px; 
    border-radius: 5px; 
    width: 90%;
    margin-bottom: 10px;
}
.divlogin .container .divcont input.error{ border-bottom: 3px solid red; }
.divlogin .container .divcont button{ 
    margin: 0px; 
    border:0px; 
    display: block; 
    margin: auto; 
    padding: 10px 30px;
    background: #333;
    color:#fff;
    border-radius: 5px;
    margin-bottom: 10px;
}
.divlogin .container .divcont a{
    font-size: 12px;
    margin-right: 10px;
    color:#333;
}